.partners-image-wrapper {
	display: inline-block; 
    margin: 20px;
}

.partners-image-container {
	height: 15rem;
	width: 100%;
    vertical-align: middle;
    text-align: center;
    display: table-cell;
}

.partners-image {
	max-width: 100%;
	max-height: 100%;
	display: block;
	margin: 0;
}

.creativity-font {
	font-family: 'leckerli_oneregular';
}

.creativity-tittle {
	font-size: 12vw !important;
	color: white !important;
	line-height: 1 !important;
	margin: 2rem;
	border-bottom: 0.7rem solid #dc3545;
    display: inline-block;
    padding-bottom: 0rem;
}

.map-iframe {
	width: 100%;
    height: 35rem;
}

.cadastro-section iframe {
	height: 35rem;
	background-color: #ffffff;
}

.cadastro-section h3 {
	font-size: 4rem;
    color: #ffffff;
}

.footer-logo {
	height: 30rem;
}

html, body {
	height: auto;
	min-height: 100%;
}

.vertical-middle {
	vertical-align: middle;
}

#section-acoes a.btn {
	font-size: 1.2rem !important;
}

.h3-smaller {
	font-size: 1.50rem !important;
}

.count-number {
	color: #dc3545;
	font-size: 6rem;
	background-color: #ffe2e5;
    border-radius: 50%;
}

.number-title {
	font-size: 3.5rem;
}

header{
	background-color: rgba(0,0,0, 0.7);
	position: fixed !important;
	top: 0;
	display: block;
	transition: top 0.3s;
}

.hamb-container {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #ffffff;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

#section-home {
	padding-top: 0 !important;
}

.text-black .bar1, .text-black .bar2, .text-black .bar3 {
	background-color: #212529 !important;
}

.item-1 {
	box-shadow: 4px 0px 10px 0px rgb(0 0 0 / 20%);
}

.img-container {
	position: relative; 
	height: 225px; 
	width: 100%;
	overflow: hidden;
}

.img-container .img-1 {
	position: absolute;
	right: 0;
	top: -15px;
}

.item-1-contents {
	height: 470px;
}

footer {
	color: #ffffff;
}