.partners-image-wrapper {
	display: inline-block; 
    margin: 20px;
}

.partners-image-container {
	height: 15rem;
	width: 100%;
    vertical-align: middle;
    text-align: center;
    display: table-cell;
}

.partners-image {
	max-width: 100%;
	max-height: 100%;
	display: block;
	margin: 0;
}

.creativity-font {
	font-family: 'leckerli_oneregular';
}

.creativity-tittle {
	font-size: 8rem !important;
	color: white !important;
	line-height: 1.2 !important;
	margin: 3rem;
}

.map-iframe {
	width: 100%;
    height: 35rem;
}

.cadastro-section iframe {
	height: 35rem;
	background-color: #ffffff;
}

.cadastro-section h3 {
	font-size: 4rem;
    color: #ffffff;
}

.footer-logo {
	height: 10rem;
}

html, body {
	height: auto;
	min-height: 100%;
}

.vertical-middle {
	vertical-align: middle;
}

#section-acoes a.btn {
	font-size: 1.2rem !important;
}